{% extends 'layout.html.twig' %}

{% block title %}Hello CatalogoCursosController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom-frontpage.css') }}" />
{% endblock %}

{% block content %}

<h1>Catálogo de cursos</h1>
<div class="row m-5">
    <section id="filtros" class=" col-12 mb-5 col-lg-3 border border-dark bg-ruby p-5">
        <input type="text" id="filtro" placeholder="Búsqueda...">
        <div id="categorias">
            <h5>Categorías</h5>
            <label><input type="checkbox" value="0">000 - Ciencias de la Computación, Información y Obras Generales</label>
            <label><input type="checkbox" value="1">100 - Filosofía y Psicología</label>
            <label><input type="checkbox" value="2">200 - Religión, Teología</label>
            <label><input type="checkbox" value="3">300 - Ciencias Sociales</label>
            <label><input type="checkbox" value="4">400 - Lenguas</label>
            <label><input type="checkbox" value="5">500 - Ciencias Básicas</label>
            <label><input type="checkbox" value="6">600 - Tecnología y Ciencias Aplicadas</label>
            <label><input type="checkbox" value="7">700 - Artes y recreación</label>
            <label><input type="checkbox" value="8">800 - Literatura</label>
            <label><input type="checkbox" value="9">900 - Historia y Geografía</label>
        </div>
    </section>
    <div class="col-lg-1"></div>
    <section id="cursos" class="col-12 col-lg-8 border border-dark p-5">
        <div id="loadingDiv" class="spinner-border" role="status"></div>
        {# Y aquí irían los cursos, que quizá lo suyo es pillarlos por AJAX. #}
        {#<div class="container overflow-hidden">
            <div class="row g-5">
                {% for curso in cursos %}
                <div class="col-6">
                    <a href="/cursos/d/{{ curso.id }}"><div class="curso p-5 bg-ruby overflow-hidden">
                    <img src="{{ vich_uploader_asset(curso) }}" class="img-responsive" style="height:100px;">
                    <h5>{{ curso.titulo }}</h5>
                    {% if curso.descripcion|length > 50 %}
                        {% set texto = curso.descripcion|slice(0, 50) ~ '...</div>' %}
                        {% else %}
                        {% set texto = curso.descripcion %}
                    {% endif %}
                    <p class="overflow-hidden">{{ texto|raw }}</p>
                    <div><strong>{{ curso.precio/100 }} € - {{ curso.plazas }} plazas</strong></div>
                </div></a>
                </div>
                {% endfor %}
            </div>
        </div>#}
    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/carga_cursos.js') }}"></script>
{% endblock %}
