{% extends 'layout.html.twig' %}

{% block title %}Hello CatalogoCursosController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom-frontpage.css') }}" />
{% endblock %}

{% block content %}

<h1>Catálogo de cursos</h1>
<div class="row m-5">
    <section id="filtros" class="col-3 border border-dark bg-ruby p-5">
        <p>Y aquí pondría varias cositas para filtrar y tal y pascual.</p>
    </section>
    <div class="col-1"></div>
    <section id="cursos" class="col-8 border border-dark p-5">
        {# Y aquí irían los cursos, que quizá lo suyo es pillarlos por AJAX. #}
        <div class="container overflow-hidden">
            <div class="row g-5">
                {% for curso in cursos %}
                <div class="col-6">
                    <a href="/cursos/d/{{ curso.id }}"><div class="curso p-5 bg-ruby overflow-hidden">
                    <img src="{{ vich_uploader_asset(curso) }}" class="img-responsive" style="height:100px;">
                    <h5>{{ curso.titulo }}</h5>
                    {% if curso.descripcion|length > 50 %}
                        {% set texto = curso.descripcion|slice(0, 50) ~ '...</div>' %}
                        {% else %}
                        {% set texto = curso.descripcion %}
                    {% endif %}
                    <p class="overflow-hidden">{{ texto|raw }}</p>
                    <div><strong>{{ curso.precio/100 }} € - {{ curso.plazas }} plazas</strong></div>
                </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/carga_cursos.js') }}"></script>
{% endblock %}
